@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");

/*--------------
All Contents
--------------*/

/*-----------------
1. Reset.css
2. Helper Classes
3. Home page Hero Sections
4. Pitch Section Styling
5. Features Section Styling
6. Review Styling
7. Pricing section
8. Subscribe Section
9. All Media Queries
------------------*/


/*----- 1. Reset.css -----*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Maven Pro;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* --- Common Styles ---*/

h1 {
  font-size: 16px;
}

/*----- Helper Classes -----*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
::-webkit-scrollbar {
	display: none;
}
*/
h1, h2, h3, h4, h5, h6{}

p {}

::-moz-selection {
    color: #FFFFFF;
    background: #92714A;
}

::selection {
    color: #FFFFFF;
    background: #92714A;
}

.nopadding {
	padding: 0;
}

.custompadding {
	padding-left: 5px;
	padding-right: 5px;
}

.no-margin {
	margin-right: 0;
	margin-left: 0;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   opacity: 1;
   background-color: #F2F2F2;
   z-index: 9999;
   text-align: center;
}

#loading-image {
	display: inline;
    top: 40%;
    position: relative;
  z-index: 9999;
}

.logo {
  margin: 0 auto;
	padding: 0px 0px;
	z-index: 111;
}

.logo:hover, .logo:focus {
	text-decoration: none;
	color: #FFF;
}



/* ------ Navbar Styling Starts ----- */


.navbar {
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	padding-top: 25px;
	letter-spacing: 1px;
	height: 80px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
	-webkit-backface-visibility: hidden;
}

.navbar-default {
  transition: all 0.6s ease;
	border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-radius: 0px;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #111111;
}

.navbar-default .navbar-brand .navbar-toggle .collapsed {
    padding: 4px 6px;
    font-size: 14px;
    color: #111111;
  }

.navbar-default .navbar-brand {
	padding-top: 0px;
	color: #111111;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.navbar-default .navbar-brand:hover {
  transition: 1s;
}

.navbar-default .navbar-nav > li > a {
  color: #111111;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5;
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #A1A1A1;
}

.navbar-default .navbar-nav > .active > a {
  background: transparent;
  color: #222222;
  }


.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #333333;
}

.navbar-default .navbar-nav > .active > a:focus {
	background: transparent;
  color: #111111;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-toggle {
  color: #111111;
}

.navbar-default .nav-white > li > a {
	color: #FFFFFF;
}

.navbar-default .nav-white > li > a:hover {
	color: #999999;
}

.navbar-default .navbar-brand.nav-white {
	padding-top: 15px;
	color: #FFFFFF;
	font-size: 21px;
	letter-spacing: 1px;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

/*---------- Media Queries ---------*/

@media only screen and (max-width: 767px) {

	.navbar {
		padding-top: 5px;
		height: 60px;
	}

  .navbar-default {
    border: 0px;
    background-color: transparent;
  }

	.navbar-default .navbar-collapse {
		text-align: center;
		border-color: transparent;
	  background-color: #FFFFFF;
	}

  .navbar-default .navbar-collapse {
    border: 0;
    border-color: transparent;
  }

  .navbar-default .navbar-nav > li> a {
    color: #222222;
		margin-top: 10px;
  }

	.navbar-default .navbar-nav > li> a:hover {
		color: #222222;
	}

  .navbar-default .navbar-brand {
    color: #FFFFFF;
		
  }

	.navbar-default .navbar-brand.nav-white {
		color: #FFFFFF;
	}

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
}

@media only screen and (min-width: 240px) {


.navbar.past-main {
	font-size: 14px;
	padding-top: 5px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.99);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

.navbar-default.past-main .navbar-brand {
	color: #111111;
}

.navbar-default.past-main .navbar-toggle .icon-bar {
	background-color: #111111;
}

.navbar-default.past-main .navbar-nav > li > a {
  color: #222222;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.navbar-default.past-main .navbar-nav > li > a:hover {
  color: #111111;
}

.navbar-default.past-main .navbar-nav > .active > a {
  background: transparent;
  color: #5924EC;
  }


.navbar-default.past-main .navbar-nav > .active > a:hover {
    background: transparent;
    color: #222222;
}

.navbar-default.past-main .navbar-nav > .active > a:focus {
	background: transparent;
  color: #222222;
}

}

.navbar-default .nav-white .navbar-toggle .icon-bar {
	background-color: #FFFFFF;
}

.navbar-default.past-main .nav-white .navbar-toggle .icon-bar {
	background-color: #111111;
}

/* ------------------------------------------------------
-------------- Main Section Styling Starts --------------
--------------------------------------------------------*/


#main {
  height: 100%;
}


/* ----- Hero Section Styling Starts ----- */


.image-bg .hero-section {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/1.jpg) no-repeat center center;
	background-size: cover;
	padding: 150px 0 100px 0;
}

.image-bg .hero-content h1 {
	font-weight: 400;
	color: #FFFFFF;
}

.image-bg .hero-content p {
	color: #FFFFFF;
}


.hero-section {
	height: 100%;
	background: #FFFFFF;
	padding: 150px 0 0 0;
}

.hero-content {
	padding: 50px 0 150px 0;
	overflow: hidden;
}

.hero-content h1 {
	font-size: 34px;
	font-weight: 400;
	color: #262626;
	letter-spacing: -1px;
	margin: 0 0 20px 0;
}

.hero-content p {
	font-weight: 400;
	margin: 0 0 25px 0;
}


.btn-action {
 border-radius: 0;
 font-size: 13px;
 font-weight: 400;
 letter-spacing: 2px;
 padding: 10px 21px;
 text-transform: uppercase;
 outline: none;
 -webkit-transition: 200ms;
 -moz-transition: 200ms;
 -o-transition: 200ms;
 transition: 200ms;
}


.btn-action {
 background-color: transparent;
 border: 1px solid #fff;
 color: #fff;
}

.btn-action:hover, 
.btn-action:focus {
 background: #92714A;
 color: #FFFFFF;
 border-color: #82714A;
}




/*----------------------------------------------------
------------- All ------------------------------------
--------------------- Media --------------------------
------------------------------- Queries --------------
-----------------------------------------------------*/

@media only screen and (min-width: 767px) {
	.logo {
	  position: absolute;
	  top: 20px;
	  left: 20px;
	}

	.hero-section {
		padding: 150px 0 100px 0;
	}


	.hero-content h1 {
		font-size: 48px;
		margin: 0 0 20px 0;
	}

	.hero-content p {
		font-size: 14px;
	}

	.about-content h2 {
		font-size: 38px;
	}

	.image-bg .hero-content h1 {
		font-size: 54px;
	}
@media screen and (max-width: 399px) {

 .back-to-top {
	right: 10px;
}

 }

/*---------------------------------------------------
------- Media Queries for Split Layout Ends ---------
---------------------------------------------------*/

	
