/*-------------------------------------------------
----------- Theme Styling Starts ----------
--------------------------------------------------*/

.title{color: #111111;}
.sub-title{color: #92714A;}
.body-text{color: #111111;}

/* ----- About Section Styling Starts ----- */
.about {
	padding: 50px 0 100px 0;
}

.about-content {
	padding: 60px 0 0 0;
	text-align: left;
}

.about h1 {
	font-size: 28px;
	letter-spacing: -1px;
	line-height: 1.2;
}

.about h4 {
	color: #927f54;
	margin: 10px 0 30px 0;
}

.about p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
}

/* ----- About Section Styling Ends ----- */



/* ----- Quote Section Styling Starts ----- */

.quote {
	padding: 100px 0 100px 0;
	background: #FFF;
}

.quote-content {
	max-width: 800px;
	margin: 0 auto;
}

.quote-content h2 {
	font-size: 24px;
	font-weight: 100;
	line-height: 1.2;
}

.quote-content h3 {
	font-size: 21px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #927f54;
	margin: 50px 0 0 0;
}



/* ----- Quote Section Styling Ends ----- */



/* ----- Highlight Section Styling Starts ----- */

.highlight-1 {
	padding-top: 150px;
	padding-bottom: 150px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/3.jpg) no-repeat center center;
	background-size: cover;
}

.highlight-2{
	padding-top: 150px;
	padding-bottom: 150px;
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/4.jpg) no-repeat center center;
	background-size: cover;
}

.highlight-3{
	padding-top: 150px;
	padding-bottom: 150px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/wood/wood_2.jpg) no-repeat center center;
	background-size: cover;
}

.highlight-4{
	padding-top: 150px;
	padding-bottom: 150px;
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/6.jpg) no-repeat center center;
	background-size: cover;
}

.highlight-5{
	padding-top: 150px;
	padding-bottom: 150px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/wood/wood_6.jpg) no-repeat center center;
	background-size: cover;
}

.highlight-inner-left {
	max-width: 500px;
	float: left;
}

.highlight-inner-right {
	max-width: 500px;
	float: right;
}


.highlight-inner-right h1, .highlight-inner-left h1 {
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.2;
	margin-top: 10px;
	margin-bottom: 0;
}

.highlight-inner-right h4, .highlight-inner-left h4 {
	color: #FFFFFF;

}

.highlight-inner-right p, .highlight-inner-left p {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 300;
	line-height: 1.4;
	margin-top: 20px;
	margin-bottom: 40px;
}





/* ----- Highlight Section Styling Ends ----- */





/* ----- Feature Section Styling Starts ----- */


.feature{
	padding-top: 150px;
	padding-bottom: 150px;
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../img/4.jpg) no-repeat center center;
	background-size: cover;
}

.feature-inner {
	max-width: 500px;
	float: left;
}

.feature-inner h1 {
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.2;
	margin-top: 10px;
	margin-bottom: 0;
}

.feature-inner h4 {
	color: #FFFFFF;

}

.feature-inner p {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 300;
	line-height: 1.4;
	margin-top: 20px;
	margin-bottom: 40px;
}
.feature strong{
	font-weight: 500;
	color: #927f54;}
/* ----- Feature Section Styling Ends ----- */





/* ------- Footer Section Styling Starts ------- */
@media screen and (max-width: 736px) {
	.footer{
		text-align: center;
	}
}

.footer {
  	background-color: #FFF;
  	width: 100%;
  	height: 100%;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer img {
	margin-bottom: 10px;
}

.footer h2{
	color: #927f54;
	font-weight: 500;
		line-height: 40px;
}

.footer p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;

}

.footer i {
	font-size: 42px;
	color: #927f54;
	line-height: 50px;
}

.footer a{
	color: #927f54;
	text-decoration: none;
}

.copyright{
	background: #404041;
	color: #FFF;
  	width: 100%;
  	height: 100%;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 25px;
	
}
.copyright p{
	font-size: 12px;
	font-weight: 200;
	line-height: 1.5;
}


.copyright .agency a{
	color: #927f54;
}

.copyright .agency a:hover{
	color: #00B4B4;
	text-decoration: none;
}

.copyright .site-links a{
	color: #fff;
	text-decoration: none;
}
.copyright .site-links a:hover{
	color: #927f54;
	text-decoration: none;
}



/* ------- Footer Section Styling Ends ------- */




/* ------- Bact-to-Top Section Styling Starts ------- */
.back-to-top {
	background: rgba(146, 127, 84, 0.5);
	margin: 0;
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	z-index: 90;
	display: none;
	text-decoration: none;
	color: #FFFFFF;
}
.back-to-top:hover {
	background: rgba(146, 127, 84, 0.9);
}

.back-to-top i {
	position: relative;
	left: 13px;
	top: 8px;
	font-size: 24px;
	color: #FFFFFF;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}


.back-to-top:hover i {
	top: 6px;
}
/* ------- Bact-to-Top Section Styling Ends ------- */






.space10{width: 100%; height: 10px;}
.space20{width: 100%; height: 20px;}
.space30{width: 100%; height: 30px;}
.space40{width: 100%; height: 40px;}
.space50{width: 100%; height: 50px;}
.space60{width: 100%; height: 60px;}















/* ------- FROM Section Styling Starts ------- */

#form {
    background-color: #222222;
    background-position: center;
    background-repeat: no-repeat;
	padding: 50px 0 100px 0;
}

.form-content {
	padding: 60px 0 0 0;
	text-align: center;
}

.form h1 {
	color: #fff;
	font-size: 28px;
	letter-spacing: -1px;
	line-height: 1.2;
}

.form h4 {
	color: #927f54;
	margin: 10px 0 30px 0;
}

.form p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
}
#form .form-group {
    margin-bottom: 25px;
}
#form .form-group input,
#form .form-group textarea {
    padding: 20px;
	border-radius: 0px;
	background-color: transparent;
	color: #927f54;
}
#form .form-group input.form-control {
    height: auto;
}
#form .form-group textarea.form-control {
    height: 136px;
}
#form .form-control:focus {
	border: 1px solid #927f54;
    box-shadow: none;

}

#form ::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #eeeeee;
}
#form :-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    color: #eeeeee;
}
#form ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    color: #eeeeee;
}
#contact :-ms-input-placeholder {
    text-transform: uppercase;
    color: #eeeeee;
}
#form .text-danger {
    color: #e74c3c;
}


/* ------- FORM Section Styling Ends ------- */



/*------------------------------------------------------------------
[Modules]
*/

.module,
.module-sm,
.module-xs {
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
    padding: 100px 0;
}

.module.divider-top,
.module-sm.divider-top,
.module-xs.divider-top {
    border-top: 1px solid #eeeeee;
}

.module.divider-bottom,
.module-sm.divider-bottom,
.module-xs.divider-bottom {
    border-bottom: 1px solid #eeeeee;
}

.module.parallax,
.module-sm.parallax,
.module-xs.parallax {
    background-color: transparent;
}

.module-sm {
    padding: 70px 0;
}

.module-xs {
    padding: 35px 0;
}

.module-header {
    margin: 0 0 70px;
}

.module-header h1,
.module-header .h1,
.module-header h2,
.module-header .h2,
.module-header h3,
.module-header .h3,
.module-header h4,
.module-header .h4,
.module-header h5,
.module-header .h5,
.module-header h6,
.module-header .h6 {
    margin-bottom: 10px;
}

.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.no-gutter > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.pull-image .container {
    position: relative;
}

.pull-image .container > div[class*='col-'] {
    position: absolute;
}

.pull-image .vertical-middle {
    position: relative;
    top: 50%;
    z-index: 2;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
}

.pull-image .pull-image-right {
    right: 0;
}

@media (max-width: 990px) {
    .pull-image .container div[class*='col-'] {
        position: relative;
        top: 0;
        -webkit-transform: none;
                transform: none;
    }
}

.side-background {
    position: relative;
    padding: 0px;
}

.side-background .background-container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    padding: 0px;
    top: 0px;
}

.side-background .background-side {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: 50% 50% !important;
}

.side-background .background-side.start-top {
    background-position: 0% 0% !important;
}

.side-background .background-side.start-bottom {
    background-position: 100% 0% !important;
}

.side-background .content-side {
    padding-top: 140px;
    padding-bottom: 140px;
}



/*------------------------------------------------------------------
[Portfolio]
*/

.filters {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filters > li {
    display: inline-block;
    padding: 0 15px 35px;
}

.filters > li > a {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    padding: 1px 0;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.filters > li > a:hover,
.filters > li > a.current {
    border-color: #333333;
    opacity: 1;
}

.works-grid.works-grid-gutter {
    margin-left: -4px;
    margin-right: -4px;
}

.works-grid.works-grid-gutter .work-item {
    padding: 0 4px 8px 4px;
}

.works-grid .work-item {
    width: 50%;
}

.works-grid.works-grid-3 .work-item {
    width: 33.333333%;
}

.works-grid.works-grid-4 .work-item {
    width: 25%;
}

.works-grid.works-grid-5 .work-item {
    width: 20%;
}

.work-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.work-overlay {
    border: none;
    background: rgba(146, 127, 84, 0.8); 	
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
            transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work-wrapper > img {
    width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
            transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work-caption {
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
            transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    position: absolute;
    padding: 40px;
    width: 100%;
    opacity: 0;
    bottom: 0;
}

.work-title,
.work-category {
    color: #ffffff;
}

.work-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
}

.work-category {
    text-transform: lowercase;
    font-style: italic;
    font-size: 13px;
    opacity: 0.7;
}

.work-link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

/* --- [ Base Hover ] --- */

.work-item:hover .work-wrapper img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.work-item:hover .work-overlay {
    opacity: 1;
}

.work-item:hover .work-caption {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

/* --- [ Dark Hover Overlay ] --- */

.works-grid-dark .work-overlay {
    background: rgba(51, 51, 51, 0.9);
}

/* --- [ White Hover Overlay ] --- */

.works-grid-white .work-overlay {
    background: rgba(255, 255, 255, 0.9);
}

.works-grid-white .work-title,
.works-grid-white .work-category {
    color: #222222;
}

@media (max-width: 1023px) {
    .works-grid .work-item,
    .works-grid.works-grid-3 .work-item,
    .works-grid.works-grid-4 .work-item,
    .works-grid.works-grid-5 .work-item {
        width: 50%;
    }
}

@media (max-width: 568px) {
    .works-grid .work-item,
    .works-grid.works-grid-3 .work-item,
    .works-grid.works-grid-4 .work-item,
    .works-grid.works-grid-5 .work-item {
        width: 100%;
    }
}

.portfolio-info {
    list-style: none;
    padding: 0;
    margin: 0 0 35px;
}

.portfolio-info > li:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding: 0 0 8px;
    margin: 0 0 8px;
}

.portfolio-info h5 {
    display: inline-block;
    margin: 0 8px 0 0;
}

.portfolio-info .social-icons {
    display: inline-block;
}